<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">ClientGraphQLL</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="AvailableCarsList">
                <span class="bi bi-car-front-fill-nav-menu" aria-hidden="true"></span> Available Cars List
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="CalculateServiceCost">
                <span class="bi bi-calculator-fill-nav-menu" aria-hidden="true"></span> Calculate Service Cost
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="CarFleetReport">
                <span class="bi bi-file-earmark-bar-graph-fill-nav-menu" aria-hidden="true"></span> Car Fleet Report
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="CarsAvailableOnDates">
                <span class="bi bi-calendar-date-fill-nav-menu" aria-hidden="true"></span> Cars Available On Dates
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="DebtorRentersList">
                <span class="bi bi-cash-coin-nav-menu" aria-hidden="true"></span> Debtor Renters List
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ManagersList">
                <span class="bi bi-people-fill-nav-menu" aria-hidden="true"></span> Managers List
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="OccupiedCarsList">
                <span class="bi bi-car-front-fill-nav-menu" aria-hidden="true"></span> Occupied Cars List
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="RenterDetails">
                <span class="bi bi-person-fill-nav-menu" aria-hidden="true"></span> Renter Details
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="RentersList">
                <span class="bi bi-person-lines-fill-nav-menu" aria-hidden="true"></span> Renters List
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ServiceReport">
                <span class="bi bi-clipboard-check-fill-nav-menu" aria-hidden="true"></span> Service Report
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
